.carousel {
    position: relative;
    max-width: 100%;
    margin: 2rem auto;
    background-color: #000;
}

.carousel-media img, .carousel-media video {
    display: none;
    width: 100%;
    max-width: 100%;
}

.carousel-media img.active, .carousel-media video.active {
    display: block;
}

/* Botones */
.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5de2c1;
    color: #000020;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.5em;
}

.carousel .prev {
    left: 0;
}

.carousel .next {
    right: 0;
}

.carousel button:hover {
    background-color: #000020;
    color: #5de2c1;
}