main {
    gap: 1em;
    text-align: center;
    align-items: center;
    margin: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

article {
    margin: 1em;
    grid-column: 1;
    grid-row: 1;
}

aside {
    text-align: left;
    background-color: #0097b2;
    color: #000030;
    border: 0.125em solid aliceblue;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 1em 2em rgba(0,0,0,0.1);
    grid-column: 2;
    grid-row: 1;
}

section {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    grid-column: 1 / -1;
}

img, video {
    max-width: 80%;
    width: auto;
    height: auto;
}

h2{
    color: #000030;
    background: aliceblue;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax aliceblue;
    clip-path: inset(0 -100vmax);
    margin-bottom: 0.5em;
}

h3{
    font-family: 'Consolas', 'Courier New', monospace;
    text-decoration: underline;
    margin-top: 2em;
}