header {
    background-color: #000020;
    top: 0;
    width: 100%;
    height: 3%;
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    border-bottom: 0.0625em solid aliceblue;
    flex-direction: row;
    z-index: 1000;
}

header a {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font: larger;
    text-align: center;
    margin: 5em;
    border: 0.0625em solid aliceblue;
    border-radius: 5em;
}

header a:hover {
    background: cyan;
    color: #000020;
}

main {
    margin-top: 5%;
}