section nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

section nav a {
    text-decoration: none;
    color: inherit;
}

section nav a article {
    background: #00b291;
    color: aliceblue;
    border: 0.5em solid aliceblue;
    border-radius: 5em;
    padding: 1em;
    margin: 5em;
    text-align: center;
    box-shadow: 0 1em 2em rgba(0,0,0,0.1);
}

section nav a article:hover {
    background: #54ffff;
    color: #000030;
}

section nav a article img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5em;
}

section nav a article p {
    font-size: larger;
}

h1 {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    padding: 2rem;

    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h2{
    color: #000030;
    background: aliceblue;
    padding: 1rem;
    box-shadow: 0 0 0 100vmax aliceblue;
    clip-path: inset(0 -100vmax);
    margin-bottom: 0.5em;
}